@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
:root{
    --primary-text-color: #ffffff;
    --padding-inline-section: 10px;
    --accent-color: #2bff00;
}
body{
    font-family: 'Poppins' , 'sans-serif';
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}
ul {
    list-style: none ;
}
.container {
    max-width: 1980px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}
.hover-link {
    color: var(--primary-text-color);
    font-weight: 500;
}
.hover-link:hover{
    color: var(--accent-color);
    transition-property: 0.2s ease-out ;
}

/* nav bar */
.main-nav{
    justify-content: space-between;
    margin-top: 20px;
    font-size: 25px;
}
.company-logo img{
    width: 100px;
    border-radius: 50px;
}
.nav-links{
    flex-basis: 930px;
}
.nav-links ul{
    justify-content: end;
    gap: 80px;
}
/* Header */
header{
    padding: 50px var(--padding-inline-section) 0;
    margin-block: 25px;
}
.header-left{
    margin-top: 20px;
}
.header-left h2{
    font-size: 120px;
}
.name{
    color: #7700ff;
}
.border{   
    border: 4px solid rgb(255, 255, 255); /* Border style */
    border-radius: 60px; /* Border radius */
    padding: 30px; /* Optional: Adjust padding as needed */
    padding-inline: 100px;
    font-size: 40px; /* Font size */
    display: inline-block; /* Ensure element stays inline within border */
    
    
}
