/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
 */
 @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
:root{
    --primary-text-color: #ffffff;
    --padding-inline-section: 5px;
    --accent-color: #ff0000;
}
body{
    font-family: "Jost", sans-serif;
    color: var(--primary-text-color);
    background-color: #000000;
    /* background-image: linear-gradient(to right, rgb(14, 0, 36), #000000, #000000, #000000, rgb(14, 0, 37)); */
}
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}
ul {
    list-style: none ;
}
.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}
.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}
.flex{
    display: flex;
    align-items: center;
}
.hover-link {
    color: #ffffff;
    font-weight: 500;
}
.hover-link:hover{
    color: #9dff00;
    transition-property: 0.2s ease-out ;
}
/* .primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}
.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 500;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important ;
} */
/* nav bar */
.main-nav{
    justify-content: space-between;
    /* margin-block: -20px; */
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 30px;
}
.company-logo img{
    width: 100px;
    /* border-radius: 100px; */
    padding-left: -30px;
    
}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}
.nav-links ul li{
    justify-content: end;
    gap: 40px;
}
/* Header */
#name{
    padding: 50px var(--padding-inline-section) 0;
    margin-block: 25px;
    
    
}
.left{
    margin-top: 20px;
    margin-bottom: 80px;
}
.left h2{
    font-size: 80px;
}
.h2{
    margin-bottom: -30px;
}
.name{
    color: #9dff00;
    white-space: nowrap;
    font-size: 6rem;
}
.border{   
    border: 5px solid rgb(255, 255, 255); 
    border-radius: 60px; 
    background: rgb(0, 0, 0);
    padding: 10px; 
    padding-inline: 70px;
    font-size: 25px;
    color: #ffffff;
    /* color: #bc75ff; */
    display: inline-block; /* Ensure element stays inline within border */
}
.border:hover{
    color: #000000;
    border-color: #9dff00;
    background: #9dff00;
    transition-property: 0.2s ease-out ;
    cursor: pointer;
}

/*------ About me ------*/
.big-feature-section{
    padding: 30px var(--padding-inline-section);
    margin-top: 180px;
    padding-bottom: 200px;
    padding-top: 50px;
    background-color: #9dff00;
    
}
.big-feature-container{
    gap: 80px
}
.feature-img img{
    width: 50%;
    width: 450px;
    height: 470px;
    border-radius: 30px;  
    margin-top: 100px;
    border: 20px solid black;
}
.feature-img img:hover {
    box-shadow: 0 0 20px #9dff00;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-end;

}
h3{
    text-align: right to left;
    font-size: 50px;
    color: #000000 ;
    margin-bottom: 30px;
}
.about-me {
    border: 4px solid #9dff00; 
    border-radius: 30px; 
    background-color: #141414;
    padding: 20px; 
    padding-inline: 20px;  
    font-size: 17px;
    padding-bottom: 50px;
    padding-top: 50px;
}
/*----SKILLS SECTION----*/
.skills-header h3{
    color: #9dff00;
}
.skills {
    padding: 80px var(--padding-inline-section) 0;
    margin-bottom: 20px;
    padding-bottom: 110px;
    
}

.icons-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    margin-top: 50px;
}

.icons {
    flex: 0 0 calc(25% - 20px); /* Adjust width for 4 columns with gap */
    max-width: calc(25% - 20px); /* Adjust width for 4 columns with gap */
    text-align: center;
    padding-bottom: 60px;
}

.icons img {
    width: 100px;
    padding-right: 10px;
}

.icons p {
    font-size: 25px;
}

.java:hover{
    color: #00eeff;
    cursor: pointer;

}
.html:hover{
    color: #ff7300;
    cursor: pointer;

}
.css:hover{
    color: #0084ff;
    cursor: pointer;

}
.js{
    padding-left: 10px;
}
.js:hover{
    color: #fffb00;
    cursor: pointer;

}
.react:hover{
    color: #3ff2ff;
    cursor: pointer;

}
.sb:hover{
    color: #6eff60;
    cursor: pointer;

}
.git{
    padding-left: 10px;
}
.git:hover{
    color: #ff4800;
    cursor: pointer;

}
.sql{
    padding-left: 10px;
}
.sql:hover{
    color: #00eeff;
    cursor: pointer;

}

/*--------PROJECTS--------*/
.project-section{
    margin-block: 100px;
    padding-bottom: 250px;
    padding-top: 50px;
    background-color: #9dff00;
}
.project-text{
    flex-direction: column;
    align-items: flex-end;
    color: #9dff00;
    
}
.project-text h3{
    color: #000000;
}
.projects-box{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}
.project{
    border: 2px solid white;
    border-radius: 10px;
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    transition: 0.3s ease-out;
}
.project:hover{
    box-shadow: 0 0 20px #00BF63;
}

/* .project:nth-child(1){
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 35.jpeg);
    background-size: cover;
} */
.project:nth-child(2){
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./images/currency.png);
    background-size: cover;
}
/* .project:nth-child(3){
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 36.jpeg);
    background-size: cover;
}  */
.project-name{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: rgb(255, 255, 255);
}

/*------EDUCATION BACKGROUND-------------*/
.background{
    margin-top: -100px;
    margin-bottom: 70px;
    padding-bottom: 140px;
    padding-top: 80px;
    background-color: #000000;
    
}
.background-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 100px;
    
}
.edu-background h3{
    color: #9dff00;
}

.work-experience {
    margin-top: 20px; /* Adjust margin as needed to create space between education and work experience */
}

.education, .work-experience {
    width: 50%; /* Set both sections to occupy 50% of the container's width */
}
.details{
    margin-left: 100px;
    margin-block: 10px;
    font-size: larger;
}

.education p::before,
.work-experience p::before {
    content: "•"; /* Use a point dot as content */
    margin-right: 5px; /* Adjust the spacing between the dot and the text */
}
.work-experience .details2::before {
    content: none; /* Remove bullet point */
}
.details2{
    margin-left: 110px;
    margin-block: 10px;
    list-style-type: none;
    font-size: 18px;
}
.arrow{
    font-size: 30px;
    color: #9dff00;
}

/*---------CONNECT ------------*/
.connect {
    margin-top: -70px;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    /* margin-bottom: 100px; */
    background-color: #9dff00;
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.connect-text {
    flex-direction: column;
    align-items: center;
}

.connect-text h3 {
    font-size: 30px;
    color: #000000;
}


.social-icons {
    display: flex;
    justify-content: center;
    
}


.icons2 {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 4px solid rgb(0, 0, 0);
    background-color: #000000;
    border-radius: 50px;
    padding-inline: 10px;
}

.icons2 li {
    display: inline-block;
}

.fa {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    color: #0077b5;
}

.fa-github {
    color: rgba(255, 255, 255, 0.832);
}

.fa-instagram {
    background: -webkit-linear-gradient(#4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-facebook {
    color: #3b5998;
}
/* .fa-linkedin:hover{
    color: white;
}
.fa-github:hover{
    color: white;
}
.fa-instagram:hover{
    color: white;
}
.fa-facebook:hover{
    color: white;
} */





































